---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

const links: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "sobre",
		desc: "quem sou eu, o que faço, por que faço, como faço.",
		href: "/sobre",
	},
	{
		title: "blog",
		desc: "as coisas que escrevo.",
		href: "/blog",
	},
	{
		title: "now",
		desc: "no que estou metida no momento - leituras, projetos, músicas, hobbies...",
		href: "/now",
	},
	{
		title: "blogroll",
		desc: "indicações de páginas que acompanho e gosto.",
		href: "/blogroll"
	},
	{
		title: "arquivo",
		desc: "uma lista de tudo que já escrevi por aqui.",
		href: "/arquivo",
	},
];
---

<BaseLayout title="home">
	<section>
		<h1 class="title">hello, world</h1>
		<p class="mb-4 sm:mb-8">
			oi! eu sou a <a href="/sobre" class="cody-link">Tiffany</a> e este é meu blog, meu espaço online onde escrevo sobre o que dá na telha. se quiser conhecer minhas notas de estudos, siga para a minha <a href="https://wiki.tiffs.dev" target="_blank " class="cody-link">wiki pessoal</a>. para se encontrar por aqui, siga esse guia:
			<ul>
				{
					links.map(({ href, title, desc }) => (
						<li>
							<a
								href={href}
								class="cody-link inline-block before:content-['/']"
							>
								{title}
							</a>: 
							<p class="inline-block sm:mt-2">{desc}</p>
						</li>
					))
				}
			</ul>
		</p>

	</section>

	<section class="mt-8 sm:mt-16">
		<h2 class="title">posts recentes</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>

</BaseLayout>
