---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Base.astro';

---

<Layout title="agora">
        <h2 class="title">now</h2>
                <ul class="gap-2 sm:gap-4 list-disc list-inside">
                        <li>
                                <a href="https://nownownow.com/about" target="_blank" rel="noopener noreferrer" class="cody-link">por que criar uma "now page"?</a>
                        </li>
                        <li>
                                <a href="https://github.com/tiffanyrossi/astro-blog/commits/main/src/pages/now.astro" target="_blank" rel="noopener noreferrer" class="cody-link">histórico de commits dessa página</a>
                        </li>
                        <li>
                                última atualização: <i>22 de dezembro de 2024.</i>  
                        </li>
                </ul>
                       <hr class="my-4"/>

        <div class="mb-4 text-justify break-words">
                <ul>
                        <li>
                                😱 <i>dedo no cy e gritaria</i>: meus últimos meses foram uma loucura. passei setembro
                                 me preparando para as férias, tanto organizando a vida no trabalho, para poder ficar 
                                 fora por três semanas, quanto organizando uma viagem para o chile. quando voltamos, 
                                 tivemos a notícia de que deveríamos mudar de casa. procurar casa nova, encaixotar casa 
                                 velha, preparar mudança, contratar todo tipo de serviço necessário para a casa nova, 
                                 mudar de casa. tudo isso enquanto demandas do trabalho e da casa foram se empilhando. 
                                 faz uma semana que chegamos na casa nova, e é a primeira vez, em meses, que consigo 
                                 sentar e ligar o computador.
                        </li>

                        <li>
                                💪🏻 foi muito legal ver o resultado da academia durante a mudança: carreguei caixas, móveis, 
                                subi e desci escadas. estou mais forte e muito mais resistente, ainda que esse ano eu não 
                                tenha conseguido me dedicar como gostaria. como fibromiálgica, tenho muito orgulho em ter 
                                conquistado uma condição física em que consigo dar conta de muita coisa - ainda que ainda 
                                tenha que lidar com eventuais crises.
                        </li>   

                        <li>
                                📦 agora é desencaixotar, organizar, e destralhar. a cada mudança, percebemos o quanto 
                                acumulamos de tralhas. coisas que nem lembramos que temos, e só vão ocupando espaço. o 
                                objetivo pós-mudança é guardar o que usamos, e doar/vender/jogar fora aquilo que não faz 
                                mais sentido. temos poucos armários para guardar nossas coisas, o que é positivo - não 
                                há sentido em viver acumulando coisas em fundos de armários.
                        </li>

                        <li>
                                📌 meu novo bairro é uma delícia. depois de passar dois anos vivendo em um bairro 
                                irritantemente residencial, longe de qualquer coisa, agora vivo em uma grande avenida, 
                                rodeada de bares, restaurantes, mercados, lojas, hortifrutis, e até sesc, mercado 
                                municipal e museu. posso fazer tudo a pé, e dificilmente preciso sair da minha rua.
                                vou andando até o metrô, só preciso atravessar a rua para comprar um pão francês 
                                fresquinho, e posso escolher onde comprar meus legumes e vegetais - inclusive orgânicos.
                        </li>

                        <li>
                                💻 no trabalho, estou aprendendo um pouco de mainframe e COBOL. apesar de trabalhar 
                                com java, o <i>core</i> do meu trabalho envolve desenvolver aplicações que se comuniquem 
                                com o mainframe, então estou adquirindo um conhecimento super importante para ter mais 
                                autonomia na minha carreira.
                        </li>

                        <li>
                                📖 em março, começo um novo curso, que deve demandar um bom tempo e uma boa dose de 
                                organização. é a <a href="https://lp.algaworks.com/microsservicos-conteudo/" 
                                target="_blank" rel="nofollow" class="cody-link">especialização em microsserviços 
                                da algaworks</a>, que reúne muita coisa legal. meu objetivo é me tornar uma 
                                desenvolvedora mais técnica, capaz de pensar arquiteturas e aplicar diferentes 
                                tecnologias.
                        </li>

                        <li>
                                🏋🏻‍♀️ essa gigantesca emenda de caos atrás de caos obviamente atrapalhou minha rotina 
                                de atividade física. tomei menos água, treinei quando deu, me alimentei como deu. estou 
                                me permitindo viver o fim de ano um pouco menos regrada - sem exageros, como sempre, mas 
                                também sem muitas preocupações - e retorno no começo de 2025, agora com uma nova 
                                companhia, minha esposa rose, que vai redescobrir a graça em <i>chapar de endorfina</i>. 
                        </li>

                        <li>
                                🐸 desde o final de outubro saí da <a href="https://ursal.zone" target="_blank" 
                                rel="nofollow" class="cody-link">ursal</a>, instância que me acolheu super bem e 
                                não apenar me introduziu no fediverso, como me retomou o gosto por socializar de 
                                forma online. porém, fui mordida pelo bichinho do <i>self-hosting</i>, 
                                e comecei o projeto do <a href="https://brejo.us" target="_blank" class="cody-link">
                                brejo</a>, uma instância que atualmente abriga apenas duas sapas 🐸, mas talvez 
                                cresça um dia.
                        </li>

                        <li>
                                📕 apesar de ter sido uma criança, adolescente e jovem adulta que engolia livros, 
                                falo sem nenhum orgulho que hoje em dia é muito difícil conseguir ler algo até o fim. 
                                falta de tempo e de concentração são os fatores mais importantes. porém, agora que pego 
                                metrô para trabalhar, vou voltar a encaixar leituras na minha rotina. espero que o café 
                                faça sua mágica e a vontade de dormir no vagão não me consuma.
                        </li>

                        <li>
                                🔪 ando muito inspirada para voltar a cozinhar, e até pensando em comprar um forno de 
                                pizza, e também voltar a criar meu levain. comprar marmitas congeladas finalmente tirou 
                                de mim o peso da <i>obrigação</i> de cozinhar, e me fez voltar a sentir o <i>amor por
                                cozinhar</i>, que me é tão inato.
                        </li>
        
                </ul>
        </div>
        <hr class="my-4"/>

        <h3 class="title">leituras</h3>
        <div class="mb-4 text-justify break-words">
                <h4 class="title-nob4"><Icon name="ph:book-open-text" class="h-5 w-5 size-5 inline-block ps-1 mr-2" />
                        gödel, escher, bach: an eternal golden braid</h4>
                                <div class="flex items-start">
                                        <img src="/img/books-geb.jpeg" width="100px" class="mr-2 float-left "/>
                                        <p>
                                                <i>autor: douglas r. hofstadter</i>
                                                <br/>
                                                minha leitura desse livro é devagar e tento fazer todas as minhas
                                                anotações antes de seguir para um próximo capítulo, mas os temas são                                         
                                                complexos e avançam muito ao longo da leitura - essa densidade faz com 
                                                que eu demore para conseguir produzir anotações e possa seguir para o 
                                                próximo capítulo. além disso, o livro tem 800 e tantas páginas e é um 
                                                <i>pouco</i> difícil de carregar por aí. estou publicando minhas notas 
                                                na <a href="https://wiki.tiffs.dev/g%C3%B6del,-escher,-bach/00-g%C3%B6del,-escher,-bach---an-eternal-golden-braid" 
                                                target="_blank" class="cody-link">minha wiki pessoal</a>.
                                        </p>
                                </div>
        </div>

        <div class="mb-4 text-justify break-words">

                <h4 class="title-nob4"><Icon name="ph:book-open-text" class="h-5 w-5 size-5 float-left ps-1 mr-2" />
                        um manifesto hacker</h4>
                                <div class="flex items-start">
                                        <img src="/img/books-manifestohacker.jpg" width="100px" class="mr-2 inline-block "/>
                                        <p>
                                                <i>autora: mckenzie wark</i>
                                                <br/>
                                                desde que vi a capa e a sinopse desse livro fiquei <i>levemente</i> obcecada. 
                                                na mesma época, descobri que a autora estaria vindo para a flipei 2024, e também 
                                                para um bate-papo no sesc. gosto muito do ponto de vista da mckezie sobre o que ela 
                                                chama de classes <i>vetorialista</i> e <i>hacker</i>. estou saboreando e processando 
                                                o manifesto, por enquanto, mas pretendo escrever minhas impressões. <a href="/img/mckenzie.jpg" 
                                                class="cody-link" target="_blank">clique para ver meu momento tiete com a mckenzie</a> :)

                                        </p>
                                </div>

        </div>
                        
</Layout>