---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Base.astro';

---

<Layout title="agora">
        <h2 class="title">now</h2>
        <p class="text-sm italic">uma página que lista o que tenho feito nos últimos tempos :) — 
                <small><a href="https://nownownow.com/about" target="_blank" rel="noopener noreferrer" class="cody-link">por que criar uma "now page"?</a></small></p>
        <hr class="my-4"/>

        <div class="mb-4">
                <small>última atualização: 24 de agosto de 2024</small>
        </div>

        <div class="mb-4">
                <ul>
                        <li>
                                🐻 terminei de assistir à terceira temporada de <i>the bear</i> e estou apaixonada
                        pelos diálogos e por toda a estética da temporada num geral. sem spoilers, mas 
                        existe um diálogo específico no início do último episódio que me arrepiou.
                        </li>

                        <li>
                        🔪 ainda sobre <i>the bear</i>, inspirada nos caderninhos do carmy, tenho pensado 
                        em andar com um caderninho para fazer anotações das comidas que me inspiram por 
                        aí - tudo que como me traz alguma inspiração, me muda de alguma forma e me torna 
                        uma cozinheira melhor.
                        </li>

                        <li>
                                ☕ ganhei um moedor elétrico de aniversário e me dei um kit delicioso de cafés especiais. 
                                estou aprendendo mais sobre cafés com o curso <i>meu café gostosão</i>, da 
                                <a href="https://www.fuzzcafes.com.br/" rel="noopener noreferrer" class="cody-link" target="_blank">fuzz cafés</a>. 
                               tenho usado uma prensa francesa para meus cafés especiais, e estou pensando em investir em uma v60 
                               para os momentos em que quero um cafezinho sem fazer tanta bagunça. 
                        </li>

                        <li>
                                📖 um dos temas que constam no meu PDI (plano de desenvolvimento individual) no trabalho é <i>aws</i>. 
                                estou estudando parar tirar a primeira certificação <i>cloud practitioner</i>, que também será custeada 
                                pelo trabalho.
                        </li>

                        <li>
                                🏋🏻‍♀️ finalmente consegui voltar a uma boa rotina de exercícios. estou fazendo musculação, 
                                além de treinos de cardio, mobilidade e yoga aéreo. aprendi a dar cambalhotas 
                                no tecido, e estou empenhada em melhorar minha técnica. na musculação, tenho me sentido 
                                mais forte e as cargas estão subindo :)
                        </li>
        
                </ul>
        </div>

        <h3 class="title">leituras</h3>
        <div class="mb-4">
                <h4 class="title-nob4"><Icon name="ph:book-open-text" class="h-5 w-5 size-5 inline-block ps-1 mr-2" />
                        gödel, escher, bach: an eternal golden braid</h4>
                                <div class="flex items-start">
                                        <img src="/img/books-geb.jpeg" width="100px" class="mr-2 float-left "/>
                                        <p>
                                                <i>autor: douglas r. hofstadter</i>
                                                <br/>
                                                minha leitura desse livro é devagar e tento fazer todas as minhas
                                                anotações antes de seguir para um próximo capítulo, mas os temas são                                         
                                                complexos e avançam muito ao longo da leitura - essa densidade faz com 
                                                que eu demore para conseguir produzir anotações e possa seguir para o 
                                                próximo capítulo. além disso, o livro tem 800 e tantas páginas e é um 
                                                <i>pouco</i> difícil de carregar por aí. estou publicando minhas notas 
                                                na <a href="https://wiki.tiffs.dev/g%C3%B6del,-escher,-bach/00-g%C3%B6del,-escher,-bach---an-eternal-golden-braid" 
                                                target="_blank" class="cody-link">minha wiki pessoal</a>.
                                        </p>
                                </div>
        </div>

        <div class="mb-4">

                <h4 class="title-nob4"><Icon name="ph:book-open-text" class="h-5 w-5 size-5 float-left ps-1 mr-2" />
                        um manifesto hacker</h4>
                                <div class="flex items-start">
                                        <img src="/img/books-manifestohacker.jpg" width="100px" class="mr-2 inline-block "/>
                                        <p>
                                                <i>autora: mckenzie wark</i>
                                                <br/>
                                                desde que vi a capa e a sinopse desse livro fiquei <i>levemente</i> obcecada. 
                                                na mesma época, descobri que a autora estaria vindo para a flipei 2024, e também 
                                                para um bate-papo no sesc. gosto muito do ponto de vista da mckezie sobre o que ela 
                                                chama de classes <i>vetorialista</i> e <i>hacker</i>. estou saboreando e processando 
                                                o manifesto, por enquanto, mas pretendo escrever minhas impressões. <a href="/img/mckenzie.jpg" 
                                                class="cody-link" target="_blank">clique para ver meu momento tiete com a mckenzie</a> :)

                                        </p>
                                </div>

        </div>
                        
</Layout>