---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import { siteConfig } from "../consts.ts";

interface Props {
		title?: string;
		description?: string;
		image?: string;
		articleDate?: string
}

const { 
	title = siteConfig.title, 
	description = siteConfig.description,
	image,
	articleDate
	} = Astro.props;

---
<!doctype html>
<html lang="pt-BR" class="dark">
	<head>
		<BaseHead title={title} description={description} image={image} articleDate={articleDate}/>
	</head>
	<body>
		<Header/>
		<main class="">
			<slot/>
		</main>
		<Footer/>
	</body>
</html
